node_modules
build
npm-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
.DS_Store
coverage
.git
.gitignore
README.md
*.test.tsx
*.test.ts
*.spec.tsx
*.spec.ts

